body
{
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.heading h3{
    display: inline;
    font-size: 22px;
}
.heading button{
    float: right;
    border: 1px solid white;
}

.heading button:hover{
    float: right;
    border: 1px solid black;
    background-color: blue;
}

.credits
{
    background-color: grey;
    width: 100%;
    margin-bottom: 0px;
    color: white;
    line-height: 2;
    position: absolute;
    bottom: 0;
}

canvas{
    border-radius: 5px;
    box-shadow: 3px 3px 3px white;
    border: 2px solid white;
}
